<article class="post">
  <div class="title">
    <a href="{{post_url}}" target="_blank">{{title}}</a>
    <p class="username">Posted By: {{user.username}}</>
  </div>
  <div class="meta">
    <span>{{post_url}}</span>
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>